.footer-area{
    /* background-image: url(../../../images/footer-bg.png); */
    /* background-size: cover; */
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color:#143d04;
    border-radius: 50%;
    border: 1px solid #054413;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #09805c ;
    color:white;
}